tr
      td(colspan="7" style="text-align:center")= "HỌC VIỆN KỸ THUẬT MẬT MÃ"
      td(colspan="7" style="text-align:center")= "Cộng hoà xã hội chủ nghĩa Việt Nam"
    tr
      td(colspan="7" style="text-align:center")= "KHOA: Công nghệ thông tin"
      td(colspan="7" style="text-align:center")= "Độc lập - Tự do - Hạnh phúc"
    tr
      td(colspan="7" style="text-align:center")= "BỘ MÔN: Kỹ thuật máy tính"
      td(colspan="7" style="text-align:center")= "Hà nội, ngày 16 tháng 8 năm 2022"  + user.name
    tr 
      td(colspan="14")
    tr 
      td(colspan="14" style="text-align:center")= "KÊ KHAI"
    tr 
      td(colspan="14" style="text-align:center")= "Khối lượng thực hiện nhiệm vụ đào tạo, khoa học và công nghệ năm học 2021-2022"
    tr 
      td(colspan="14" style="text-align:center")= "(Căn cứ theo Quyết định số 1409/QĐ-HVM ngày 30/12/2021 về việc quy định chế độ làm việc của giảng viên Học viện Kỹ thuật mật mã)"